.icon-gear
  width 75px
  height 100px
  margin-left 25px

.socialHub
  width 50px
  height 50px
  fill rd-white

.scrollup
    padding 5px
    font-size .7em
    position fixed
    bottom 20px
    right 20px
    display none
    background-color rd-brown
    border-radius 5px
    border-bottom 3px #212121 solid
    color rd-white
    cursor pointer

//gears
.gear-one
.gear-two
.gear-three
  -webkit-animation rotation-gear 4s infinite linear
  -moz-animation rotation-gear 4s infinite linear
  -o-animation rotation-gear 4s infinite linear
  animation rotation-gear 4s infinite linear
  -webkit-transform-origin 50% 50%
  -moz-transform-origin 50% 50%
  transform-origin 50% 50%

.gear-one
  fill rd-light-blue

.gear-two
  fill rd-red

.gear-three
  fill rd-green

@keyframes rotation-gear {
  from {transform: rotate(0deg)}
  to {transform: rotate(359deg)}
}
