.form
  width 25%
  max-height 480px
  border-radius 5px
  margin 50px auto
  display -webkit-box
  display -webkit-flex
  display flex
  -webkit-flex-flow column wrap
  flex-flow column wrap
  -webkit-justify-content space-between
  justify-content space-between
  background rd-cloud
  @media (max-width: 980px)
    width 400px
    margin 0 auto
    order -1
  @media (max-width: 767px)
    width 90%
    margin 0 auto
    order -1
.form header
  background rd-green
  color rd-white
  border-radius 5px 5px 0 0
  h2
    padding 15px
    font-family rd-title-alt
    font-size 1.3em
  p
    padding 0 0 15px 15px
    font-size .8em

.form form
  display flex
  flex-flow column wrap
  justify-content center

.form label
  font-size .8em
  margin-left 15px

.form input[type=text]
.form input[type=email]
.form select
  padding 5px
  width 90%
  border-radius 3px
  margin 7px auto
  color rd-brown
  border 0px rd-brown solid
  font-size .9em
  box-shadow 0px 0px 5px rgba(0,0,0,.55)

.form button
  width 200px
  margin 10px auto
  padding 10px
  color rd-white
  background rd-red
  border-radius 5px
  border 0
  border-bottom 4px #c0392b solid

.form footer
  width 100%
  height auto
  border-radius 0 0 5px 5px
  color rd-white
  padding 0
  p
    padding 15px
    font-size .7em
