body
  background rd-white
  font-family rd-paragraph
  color rd-brown
  width 100%
  height 100%

.poly
  position absolute
  width 100%
  height 75px
  z-index 9999
  img
    margin-top 23px
    margin-left 23px
    @media (max-width: 980px)
      margin-top 15px
      margin-left 15px
      width 90px

.header
  background-image url(../img/bg.jpg)
  background-size cover
  background-position center
  background-attachment fixed
  position relative
  top 0
  left 0
  width 100%
  height 110vh
  -webkit-clip-path polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%)
  -moz-clip-path polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%)
  clip-path polygon(0% 0%, 100% 0%, 0% 100%, 10% 100%)
  display -webkit-box
  display -webkit-flex
  display flex
  -webkit-flex-flow column wrap
  flex-flow column wrap
  -webkit-justify-content center
  justify-content center
  -webkit-align-items center
  align-items center
  p
    max-width 360px
    margin-top 16px
    color rd-white
    @media (max-width: 767px)
      max-width 280px
      font-size: 0.8em
  a
    background rd-green
    color rd-white
    text-decoration none
    padding 15px
    margin 25px auto
    border-radius 5px
    border-bottom 3px #16a085 solid
    @media (max-width: 767px)
      font-size .8em
    &:hover
      background #16a085
      border-bottom 3px rd-green solid
  .title
    h1
      font-family rd-title
      color rd-white
      font-size 2.5em
      @media (max-width: 767px)
        font-size 1.8em
    h2
      font-family rd-title-alt
      color rd-red
      text-transform uppercase
      font-size 1em
      @media (max-width: 767px)
        font-size .8em
    img
      @media (max-width: 767px)
        width: 220px

main
  width 1120px
  height auto
  margin 0 auto
  display -webkit-box
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  flex-flow row wrap
  -webkit-justify-content space-between
  justify-content space-between
  @media (max-width: 980px)
    width 100%
    margin 50px auto
    -webkit-flex-flow column wrap
    flex-flow column wrap
    -webkit-justify-content space-between
    justify-content space-between

.content
  width 70%
  @media (max-width: 980px)
    width 95%
    margin 0 auto

article
  margin 50px auto
  h1
    font-family rd-title-alt
    font-size 2em
    margin 25px auto

.details
  width 100%
  display -webkit-box
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  flex-flow row wrap
  -webkit-justify-content space-around
  justify-content space-around
  -webkit-align-items strecht
  aling-items Stretch
  h1
    width 100%
  .boxDetails
    width 150px
    font-size small
    padding 5px

footer
  width 100%
  height auto
  background-color rd-brown
  .wrapper
    width 1100px
    height 30vh
    margin 0 auto
    color rd-white
    display -webkit-box
    display -webkit-flex
    display flex
    -webkit-flex-flow row warp
    flex-flow row wrap
    -webkit-justify-content space-between
    justify-content space-between
    -webkit-aling-items center
    align-items center
    ul
      li
        border-right 1px rd-white solid
        padding-right 15px
        margin-left 15px
        list-style none
        display inline-block
        &:last-child
          border 0
          padding-right 0
    a
      color rd-white
      text-decoration none
      &:hover
        color rd-red
    @media (max-width: 980px)
      width 100%
      height auto
      -webkit-flex-flow column warp
      flex-flow column wrap
