//colors

rd-blue = #3664a2
rd-light-blue = #A6D1ED
rd-green = #82C4B6
rd-red = #F58676
rd-brown = #735C4C
rd-grey = #6A6C6B
rd-white = #ffffff

//font

rd-title = 'NexaLight'
rd-title-alt = 'Montserrat', sans-serif
rd-subtitle = 'Open Sans', sans-serif
rd-paragraph = 'Open Sans', sans-serif
